.contenedor {
    margin: 0.5em;
    width: 800px;
}

.cita1 img {
    float: right;
    width: 100px;
    height: 105px;
    margin-left: 15px;
}

.cita1 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.cita2 img {
    float: left;
    width: 125px;
    height: 145px;
    margin-right: 15px;
}

.cita2 p {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

footer {
    text-align: center;
}